---
import Layout from "../layouts/Layout.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import Form from "../components/Form.astro";
import Testimonial from "../components/Testimonial.astro";

const url = "https://wlrutedtihqwkugzmcmi.supabase.co/rest/v1/testimonials_ovelse?approved=is.true";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndscnV0ZWR0aWhxd2t1Z3ptY21pIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODcwNTYsImV4cCI6MTk5NDM2MzA1Nn0.F5VBPCrTKdlJ0bp8Cc3UbOICDSkA-Fn26ybayxENve4";

const response = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
    Accept: "application/json",
    "Content-Type": "application/json",
  },
});
const udsagn = await response.json();

function getFirstNChars(str, length) {
  // vis kun et begrænset antal karakterer
  return str.substring(0, length);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Specialbutik med delikatesser</title>
  </head>

  <Layout>
    <main>
      <div class="grid_1">
        <h1>Local Deli Goods</h1>
        <img src="" alt="" />
      </div>
      <div class="grid_2">
        <h2>Our store</h2>
        <div class="grid_3">
          <img src="/img/ævle-025.webp" alt="f" />
          <p>Omada Wine & Deli in Østerbro, Copenhagen, is the new omada.wine headquarters – and our brand new bottle shop and deli. Here, we curate your simple needs for life’s better necessities; wine & food. In the shop you can find the complete line up of natural wine, cider and other mixed fermentations that you know from omada.wine. And you may even enjoy a glass of wine before you decide which bottle to take home.</p>
        </div>
      </div>
      <div class="grid_4">
        <h2>Deli goods</h2>
        <p>Thirsty? Peckish? Curious? We’ve got you covered!</p>
        <p>Omada Wine & Deli feeds your simple needs for life’s better necessities; wine & food.</p>
        <div class="grid_7">
          <h3>Deli Goods</h3>
        </div>

        <div class="grid_5">
          <img class="preview1" src="/img/ævle-121.webp" alt="Delikatesse krydderi gurkemaje" />
          <img class="preview2" src="/img/ævle-142.webp" alt="Økologisk delikatsse kaffe" />
          <img class="preview3" src="/img/ævle-025.webp" alt="Delikatesse syltede ansjoser" />
          <img class="preview4" src="/img/ævle-127.webp" alt="Delikatesse krydderipakke med gurkemaje, gløgg krydderi og sort peber" />
        </div>
        <div class="grid_8">
          <div class="grid_9">
            <p>5 €</p>
          </div>
          <div class="grid_9">
            <p>13 € - 39,5 €</p>
          </div>
          <div class="grid_9">
            <p>9 €</p>
          </div>
          <div class="grid_10">
            <p>13 €</p>
          </div>
          <button>
            <a href="">View all deli goods</a>
          </button>
        </div>

        <div class="grid_7">
          <h3>Accessories</h3>
        </div>

        <div class="grid_5">
          <img class="preview1" src="/img/ævle-145.webp" alt="Shopping net i økologisk bomuld" />
          <img class="preview2" src="/img/ævle-160.webp" alt="Shopping net i økologisk bomuld med naturvin og proptrækker" />
          <img class="preview3" src="/img/ævle-145.webp" alt="Shopping net i økologisk bomuld" />
          <img class="preview4" src="/img/ævle-160.webp" alt="Shopping net i økologisk bomuld med naturvin og proptrækker" />
        </div>
        <div class="grid_8">
          <div class="grid_9">
            <p>5 €</p>
          </div>
          <div class="grid_9">
            <p>30 €</p>
          </div>
          <div class="grid_9">
            <p>5 €</p>
          </div>
          <div class="grid_10">
            <p>30 €</p>
          </div>
          <button>
            <a href="">View all accessories</a>
          </button>
        </div>

        <div>
          <Form />
          <h2>Reviews</h2>
          <ul>
            {
              udsagn.map((testimonial) => {
                return <Testimonial name={testimonial.name} overskrift={testimonial.overskrift} text={getFirstNChars(testimonial.text, 30) + "..."} link={"/testimonial/" + testimonial.id} />;
              })
            }
          </ul>
        </div>
      </div>
    </main>
  </Layout>

  <style>
    h1 {
      place-self: center;
    }

    img {
      vertical-align: middle;
      width: 100%;
      height: auto;
    }

    button {
      list-style-type: none;
      border: 1px solid #cf2e2e;

      background-color: #fffef3;
      padding: 10px 40px 10px 40px;
      margin-top: 20px;
    }

    a {
      text-decoration: none;
      color: #cf2e2e;
    }
    button:hover,
    a:hover {
      color: #fffef3;
      background-color: #cf2e2e;
    }

    ul {
      place-self: center;
    }

    .grid_1 {
      display: grid;
      grid-template-columns: 1fr;
    }

    .grid_2 {
      display: grid;
      grid-template-columns: 1fr;
      background-color: #e8e2d6;
    }

    h2 {
      place-self: center;
    }

    .grid_3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .grid_4 {
      display: grid;
      grid-template-columns: 1fr;
    }

    p {
      place-self: center;
    }

    .grid_5 {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .grid_5 img {
      max-width: 30%;
      overflow: hidden;
    }

    .grid_8 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid_9 {
      border: 1px solid #cf2e2e;
      text-align: center;
      border-top: none;
      border-right: none;
    }
    .grid_10 {
      border: 1px solid #cf2e2e;
      border-top: none;
      text-align: center;
    }

    .preview1 {
      border: 1px solid #cf2e2e;
      border-right: none;
    }

    .preview2 {
      border: 1px solid #cf2e2e;
      border-right: none;
    }
    .preview3 {
      border: 1px solid #cf2e2e;
    }
    .preview4 {
      border: 1px solid #cf2e2e;
      border-left: none;
    }

    .grid_7 {
      border-top: 1px solid #cf2e2e;
      margin-top: 90px;
    }
  </style>
</html>
