---
import Layout from "../layouts/Layout.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import Form from "../components/Form.astro";
import Testimonial from "../components/Testimonial.astro";

const url = "https://wlrutedtihqwkugzmcmi.supabase.co/rest/v1/testimonials_ovelse?approved=is.true";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndscnV0ZWR0aWhxd2t1Z3ptY21pIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODcwNTYsImV4cCI6MTk5NDM2MzA1Nn0.F5VBPCrTKdlJ0bp8Cc3UbOICDSkA-Fn26ybayxENve4";

const response = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
    Accept: "application/json",
    "Content-Type": "application/json",
  },
});
const udsagn = await response.json();

function getFirstNChars(str, length) {
  // vis kun et begrænset antal karakterer
  return str.substring(0, length);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Delikatesse</title>
  </head>

  <Layout>
    <main>
      <div class="grid_1">
        <h1>Deli Goods</h1>
        <img src="" alt="" />
      </div>
      <div class="grid_2">
        <h2>Our store</h2>
        <div class="grid_3">
          <img src="/public/ævle-025.webp" alt="f" />
          <p>Omada Wine & Deli in Østerbro, Copenhagen, is the new omada.wine headquarters – and our brand new bottle shop and deli. Here, we curate your simple needs for life’s better necessities; wine & food. In the shop you can find the complete line up of natural wine, cider and other mixed fermentations that you know from omada.wine. And you may even enjoy a glass of wine before you decide which bottle to take home.</p>
        </div>
      </div>
      <div class="grid_4">
        <h2>Deli goods</h2>
        <p>Thirsty? Peckish? Curious? We’ve got you covered!</p>
        <p>Omada Wine & Deli feeds your simple needs for life’s better necessities; wine & food.</p>
        <div class="grid_5">
          <img class="preview" src="/public/ævle-025.webp" alt="f" />
          <img class="preview" src="/public/ævle-025.webp" alt="f" />
          <img class="preview" src="/public/ævle-025.webp" alt="f" />
          <img class="preview" src="/public/ævle-025.webp" alt="f" />
        </div>
      </div>
      <div class="grid_6">
        <h2>Shop by category</h2>

        <ul>
          <button>
            <a href="">Food</a>
          </button>
          <button>
            <a href="">Drinks</a>
          </button>
          <button>
            <a href="">Accessories</a>
          </button>
        </ul>
      </div>
      <div>
        <Form />
        <h2>Reviews</h2>
        <ul>
          {
            udsagn.map((testimonial) => {
              return <Testimonial name={testimonial.name} overskrift={testimonial.overskrift} text={getFirstNChars(testimonial.text, 30) + "..."} link={"/testimonial/" + testimonial.id} />;
            })
          }
        </ul>
      </div>
    </main>
  </Layout>

  <style>
    h1 {
      place-self: center;
    }

    button {
      list-style-type: none;
      border: solid #cf2e2e;
      border-radius: 5px;
      background-color: #fffef3;
      padding: 10px 40px 10px 40px;
      margin: 10px;
    }

    a {
      text-decoration: none;
      color: #cf2e2e;
    }
    button:hover,
    a:hover {
      color: #fffef3;
      background-color: #cf2e2e;
    }

    ul {
      place-self: center;
    }

    .grid_1 {
      display: grid;
      grid-template-columns: 1fr;
    }

    .grid_2 {
      display: grid;
      grid-template-columns: 1fr;
      background-color: #e8e2d6;
    }

    h2 {
      place-self: center;
    }

    .grid_3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .grid_4 {
      display: grid;
      grid-template-columns: 1fr;
    }

    p {
      place-self: center;
    }

    .grid_5 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid_6 {
      display: grid;
      grid-template-columns: 1fr;
    }

    .preview {
      border: solid black;
    }
  </style>
</html>
