---
import Layout from "../layouts/Layout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Deli</title>
  </head>

  <Layout>
    <main>
      <h1>hgej</h1>
      <p>test</p>
      <p>hej mille</p>
    </main>
  </Layout>
</html>
