---
import Layout from "../layouts/Layout.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
import Form from "../components/Form.astro";
import Testimonial from "../components/Testimonial.astro";
import Animation from "../components/Animation.astro";

const url = "https://wlrutedtihqwkugzmcmi.supabase.co/rest/v1/testimonials_ovelse?approved=is.true";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndscnV0ZWR0aWhxd2t1Z3ptY21pIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODcwNTYsImV4cCI6MTk5NDM2MzA1Nn0.F5VBPCrTKdlJ0bp8Cc3UbOICDSkA-Fn26ybayxENve4";

const response = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
    Accept: "application/json",
    "Content-Type": "application/json",
  },
});
const udsagn = await response.json();

function getFirstNChars(str, length) {
  // vis kun et begrænset antal karakterer
  return str.substring(0, length);
}
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Lokal delikatesseforretning København" />
    <title>Specialbutik med delikatesser</title>
  </head>

  <Layout>
    <main>
      <div class="video_container">
        <video autoplay muted playsinline loop src="img/video1.webm"></video>
      </div>

      <div class="grid_1">
        <h1>Local Deli Goods</h1>
      </div>

      <div class="grid_2">
        <div class="grid_33">
          <img src="/img/butik.webp" alt="Facade af specialforretning København" />
        </div>

        <div>
          <div class="grid_222">
            <h2>Our store</h2>
            <p>Omada Wine & Deli in Østerbro, Copenhagen, is the new omada.wine headquarters – and our brand new bottle shop and deli. Here, we curate your simple needs for life’s better necessities; wine & food. In the shop you can find the complete line up of natural wine, cider and other mixed fermentations that you know from omada.wine. And you may even enjoy a glass of wine before you decide which bottle to take home.</p>
          </div>
        </div>
      </div>

      <div class="grid_4">
        <h2>Deli goods</h2>
        <p>Thirsty? Peckish? Curious? We’ve got you covered!</p>
        <p>Omada Wine & Deli feeds your simple needs for life’s better necessities; wine & food.</p>
        <div class="grid_7">
          <h3>Deli Goods</h3>
        </div>

        <div class="grid_5">
          <img class="preview1" src="/img/ævle-121.webp" alt="Delikatesse krydderi gurkemaje" />
          <img class="preview2" src="/img/ævle-142.webp" alt="Økologisk delikatsse kaffe" />
          <img class="preview3" src="/img/ævle-025.webp" alt="Delikatesse syltede ansjoser" />
          <img class="preview4" src="/img/ævle-127.webp" alt="Delikatesse krydderipakke med gurkemaje, gløgg krydderi og sort peber" />
        </div>
        <div class="grid_8">
          <div class="grid_9">
            <p>5 €</p>
            <Animation size="small" name="31597-icons-heart" />
          </div>
          <div class="grid_9">
            <p>13 € - 39,5 €</p>
            <Animation size="small" name="31597-icons-heart" />
          </div>
          <div class="grid_9">
            <p>9 €</p>
            <Animation size="small" name="31597-icons-heart" />
          </div>
          <div class="grid_10">
            <p>13 €</p>
            <Animation size="small" name="31597-icons-heart" />
          </div>
        </div>
        <div class="button_grid">
          <button>
            <a class="knap" href="">View all deli goods</a>
          </button>
        </div>

        <div class="grid_7">
          <h3>Accessories</h3>
        </div>

        <div class="grid_5">
          <img class="preview1" src="/img/ævle-145.webp" alt="Shopping net i økologisk bomuld" />
          <img class="preview2" src="/img/ævle-160.webp" alt="Shopping net i økologisk bomuld med naturvin og proptrækker" />
          <img class="preview3" src="/img/ævle-145.webp" alt="Shopping net i økologisk bomuld" />
          <img class="preview4" src="/img/ævle-160.webp" alt="Shopping net i økologisk bomuld med naturvin og proptrækker" />
        </div>
        <div class="grid_8">
          <div class="grid_9">
            <p>5 €</p>
            <Animation size="small" name="31597-icons-heart" />
          </div>
          <div class="grid_9">
            <p>30 €</p>
            <Animation size="small" name="31597-icons-heart" />
          </div>
          <div class="grid_9">
            <p>5 €</p>
            <Animation size="small" name="31597-icons-heart" />
          </div>
          <div class="grid_10">
            <p>30 €</p>
            <Animation size="small" name="31597-icons-heart" />
          </div>
        </div>
        <div class="button_grid">
          <button>
            <a class="knap" href="">View accesories</a>
          </button>
        </div>
        <div class="grid_11">
          <div class="grid_11img">
            <img src="/img/IMG_1380.webp" alt="Udeservering af naturvin og lokale økologiske delikatesser" />
          </div>
          <div>
            <div class="events3"><h3>News and Events</h3></div>
            <div class="events3">
              <h4>What’s happening in the deli over the coming weeks…</h4>
            </div>

            <div class="events">
              <div class="event1">
                <div>
                  <h6>15/4</h6>
                </div>

                <div class="event">
                  <h5>12-20</h5>
                  <p>Plat du Jour: Barbecue and Wheatbread</p>
                </div>
              </div>

              <div class="event1">
                <div>
                  <h6>17/4</h6>
                </div>

                <div class="event">
                  <h5>17-22</h5>
                  <p>Plat du Au: Barbecue and Wheatbread</p>
                </div>
              </div>

              <div class="event1">
                <div>
                  <h6>18/5</h6>
                </div>

                <div class="event">
                  <h5>16-20</h5>
                  <p>Plat du Wie: Barbecue and Wheatbread</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="form_grid">
            <div>
              <Form />
            </div>

            <div>
              <img src="/img/drink.webp" alt="Udeservering af naturvin og økologisk saft i lokal delikatesseforretning" />
            </div>
          </div>

          <div class="review_grid">
            <h2>Reviews</h2>
            <ul class="review_grid2">
              {
                udsagn.map((testimonial) => {
                  return <Testimonial name={testimonial.name} overskrift={testimonial.overskrift} text={getFirstNChars(testimonial.text, 30) + "..."} link={"/testimonial/" + testimonial.id} />;
                })
              }
            </ul>
          </div>
        </div>
        <div class="tider">
          <img src="/img/tider.webp" alt="Åbningstider København Delikatesse" />
        </div>

        <div>
          <Animation size="small" name="Notification" />
        </div>
      </div>
    </main>
  </Layout>

  <style>
    h1 {
      place-self: center;
    }

    img {
      vertical-align: middle;
      width: 100%;
      height: auto;
    }

    button {
      list-style-type: none;
      border: 1px solid #cf2e2e;
      background-color: #fffef3;
      padding: 10px 40px 10px 40px;
      margin-top: 20px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: #000000;
    }

    button:hover,
    a:hover {
      color: #fffef3;
      background-color: #cf2e2e;
      transition: 0.4s;
    }

    .button_grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .knap {
      grid-column: 1;
    }
    ul {
      place-self: center;
    }

    .grid_1 {
      display: grid;
      grid-template-columns: 1fr;
      border-top: 2px solid #cf2e2e;
      margin-top: 140px;
    }

    .grid_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #e8e2d6;
      text-align: center;
    }

    .grid_222 {
      display: grid;
      text-align: center;
      margin-right: 110px;
    }
    .grid_3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .grid_33 img {
      max-width: 65%;
    }

    .grid_4 {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 100px;
    }

    h2 {
      text-align: center;
    }
    p {
      place-self: center;
    }

    .grid_5 {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .grid_5 img {
      max-width: 30%;
      overflow: hidden;
    }

    .grid_8 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid_9 {
      border: 1px solid #cf2e2e;
      text-align: center;
      border-top: none;
      border-right: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .grid_10 {
      border: 1px solid #cf2e2e;
      border-top: none;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .preview1 {
      border: 1px solid #cf2e2e;
      border-right: none;
    }

    .preview2 {
      border: 1px solid #cf2e2e;
      border-right: none;
    }
    .preview3 {
      border: 1px solid #cf2e2e;
    }
    .preview4 {
      border: 1px solid #cf2e2e;
      border-left: none;
    }

    .grid_7 {
      border-top: 1px solid #cf2e2e;
      margin-top: 90px;
    }

    .grid_11 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 90px;
      background-color: #e8e2d6;
    }

    .grid_11img {
      max-width: 85%;
      display: grid;
    }

    .form_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 70px;
      text-align: center;
      display: grid;
      gap: 60px;
      margin-bottom: 100px;
    }

    .review_grid {
      background-color: #e8e2d6;
    }
    .tider {
      margin-left: 200px;
      margin-right: 200px;
      margin-bottom: 100px;
      margin-top: 100px;
    }

    .event {
      border-left: 2px solid #cf2e2e;
      margin-left: 40px;
      padding-left: 5px;
    }
    .event1 {
      display: grid;
      grid-template-columns: 0.01fr 1fr;
    }
    .events {
      display: grid;
      gap: 20px;
    }
    h6 {
      font-family: "Jost", sans-serif;
      font-size: 1rem;
      margin-left: 40px;
    }

    .video_container {
      overflow: hidden;
      margin-bottom: 50px;
      margin-top: 20px;
    }
    .video_container video {
      object-fit: cover;
    }

    @media (max-width: 650px) {
      video,
      .video_container {
        display: none;
      }

      main {
        display: block;
        overflow: hidden;
      }
      .grid_2,
      .grid_222,
      .grid_4,
      .grid_11,
      .grid_1 {
        display: block;
        text-align: center;
        border: none;
      }
      .grid_11img {
        margin-left: 40px;
        margin-right: 40px;
      }
      .grid_1 {
        border-bottom: solid 1px #cf2e2e;
        margin-bottom: 20px;
        margin-top: 10px;
      }
      .grid_222 {
        margin-right: 10px;
        margin-left: 10px;
      }
      .grid_7 {
        margin-top: 80px;
      }
      .form_text {
        grid-template-columns: 1fr;
      }
      .form_grid {
        display: grid;
      }
      .tider {
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  </style>
</html>
