---
import "../styles/style.css";
---

<div class="head">
  <h1>OMADA.WINE</h1>
</div>
<nav>
  <ul>
    <li>
      <a href="/WNES/"> WINES</a>
    </li>

    <li>
      <a href="/WINEMAKERS/"> WINEMAKERS</a>
    </li>
    <li>
      <a href="/REGIONS/">REGIONS</a>
    </li>

    <li>
      <a href="/SUBS/">SUBSCRIPTION</a>
    </li>
    <li>
      <a href="/BOX/">BOXES</a>
    </li>
    <li>
      <a href="/SOCIAL CLUB/">REGIONS</a>
    </li>
    <li>
      <a href="/REGIODNS/">GIFT-CARD</a>
    </li>
    <li>
      <a class="deli" href="/DELI/">DELI</a>
    </li>
  </ul>
</nav>

<style>
  .head {
    text-align: center;
    letter-spacing: 0.5rem;
  }
  nav {
    text-align: center;
    border-bottom: 1px solid #000000;
  }
  li {
    display: inline;
    word-spacing: 50px;
  }

  li a {
    text-decoration: none;
    color: black;
  }
  .deli {
    color: red;
  }
</style>
