---
const { overskrift, name, text, link } = Astro.props;
---

<li class="testimonial">
  <h2>{overskrift}</h2>
  <p>{text}<br /><em>{name}</em></p>
  <a href={link}>Læs mere</a>
</li>

<style></style>
